<div class="row">
	<%= form_for(@new_book) do |f| %>
			<% if @new_book.errors.any? %>
				<div id="error_explanation">
					<h3><%= pluralize(@new_book.errors.count, "error") %> prohibited this obj from being saved:</h3>
					<ul>
						<% @new_book.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<div class="col-xs-3">
			<h2>User info</h2>
			<%= render 'users/profile', user: @book.user %>

			<h2>New book</h2>
			<div class="field row">
				<%= f.label :title %>
				<%= f.text_field :title, class: "col-xs-12 book_title" %>
			</div>

			<div class="field row">
				<%= f.label :opinion %>
				<%= f.text_area :body, class: "col-xs-12 book_body" %>
			</div>

			<div class="actions row">
				<%= f.submit class: "btn btn-primary col-xs-12" %>
			</div>
		<% end %>
	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to (@book.user) do %>
						<%= attachment_image_tag(@book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book.title %></td>
					<td><%= @book.body %></td>
					<% if @book.user == current_user %>
					<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>

	</div>
</div>

